<%= form_with(model: web_form, local: true) do |form| %>
  <% if web_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(web_form.errors.count, "error") %> prohibited this web_form from being saved:</h2>

      <ul>
        <% web_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :HeadLine %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Layouts %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%=label_tag 'option_email', 'Email' %>
    <%= check_box_tag 'web_form[options][]','Email',checked('Email'),id:'option_email'%>

    <%=label_tag 'option_job_title', 'Job Title' %>
    <%= check_box_tag 'web_form[options][]','Job Title',checked('Job Title'),id:'option_job_title'%>

    <%=label_tag 'option_best_time_to_call', 'Best time to call'%>
    <%= check_box_tag 'web_form[options][]','Best time to call',checked('Best time to call'),id:'option_best_time_to_call'%>

    <%=label_tag 'option_property_type', 'Property type' %>
    <%= check_box_tag 'web_form[options][]','Property type',checked('Property type'),id:'option_property_type'%>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  

  <div class="actions" >
  
    <%= form.submit %>
  </div>
<% end %>
