<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @web_form.title %>
</p>

<p>
  <strong>Layouts:</strong>
  <%= @web_form.description %>
</p>

<p>
  <strong>Image:</strong>
  <img src = "<%=@web_form.image%>">
  <%= @web_form.image %>
</p>

<%= link_to 'Edit', edit_web_form_path(@web_form) %> |
<%= link_to 'Back', web_forms_path %>
